<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Página Principal de Resta</title>
{% load static %}
<link rel="stylesheet" href="{% static 'resta/sty.css' %}">
</head>
<body class="futuristic-bg">

<div class="scanlines"></div> <!-- efecto scan -->
<div class="neon-grid"></div> <!-- líneas del fondo -->

<div class="container panel">
    <h1 class="title glow">PÁGINA PRINCIPAL DE SUMA</h1>

    <p class="descripcion">
        Esta página está hecha con fines educativos para los estudiantes de secundaria.<br>
        Aquí aprenderás cómo calcular una suma paso a paso.<br>
        Opciones disponibles:
    </p>

    <ol class="lista">
        <li>Información sobre la resta</li>
        <li>Calcular resta</li>
    </ol>

    <div class="botones">
        <a class="btn neon-btn" href="{% url 'index' %}">Volver al Menú</a>
        <a class="btn neon-btn" href="{% url 'resta_info' %}">Información sobre la Resta</a>
        <a class="btn neon-btn" href="{% url 'resta' %}">Calcular Resta</a>
        <a class="btn neon-btn" href="{% url 'resta_ejer' %}">Ejercicios Resta</a>
    </div>
</div>

</body>
</html>