<form method="post">
    {% csrf_token %}

    <p>¿Cuánto es {{ n1 }} * {{ n2 }}?</p>

    <input type="number" name="respuesta" required>

    <input type="hidden" name="n1" value="{{ n1 }}">
    <input type="hidden" name="n2" value="{{ n2 }}">
    <input type="hidden" name="correcta" value="{{ correcta }}">

    <button type="submit">Verificar</button>
</form>

{% if mensaje %}
    <h3>{{ mensaje }}</h3>
{% endif %}

<a href="{% url 'multiplicacion_ejer' %}">Nuevo ejercicio</a>




<a href="{% url 'multiplicacion_index' %}">Volver al menú principal</a>